/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 80%;
    margin: auto;
}

/* LOGO */
.logo {
    width: 300px;
    margin: auto;
    padding: 10px 0;
}

/* INPUT-USER */
.input-user {
    text-align: center;
    padding: 10px 0;
}

.input-user input {
    padding: 6px 12px;
    min-width: 280px;
    border-radius: 10px;
    border: 1px solid;
    margin-right: 10px;
}

.input-user input:focus,
.input-user .btn:focus,
.reset button {
    outline: none;
}

.input-user .btn,
.reset button {
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
}

/* TODO-LIST */
.todo-list {
    background-color: #f4f7f7;
    margin-top: 25px;
    padding: 3%;
    box-shadow: 0 0 10px 0 #b3b0b0;
}

.menu-list {
    list-style-type: none;
}

.menu-list li {
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    font-weight: 500;
}


.menu-list li:hover {
    background-color: white;
}

.option {
    float: right;
}

.delete {
    cursor: pointer;
}

.delete:hover {
    color: red;
}

.empty {
    padding: 5px 10px;
    font-weight: 500;
    color: lightgray;
}

/* BONUS */
.timeStartTodo {
    color: lightgray;
    padding-right: 15px;
}

.checkTodo {
    cursor: pointer;
    padding-right: 15px;
}

.checkTodo:hover {
    color: green;
}

.check {
    background-color: lightgreen;
}

.reset {
    text-align: center;
    margin-top: 15px;
}

.reset i {
    padding-right: 5px;
}
