<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TODOLIST</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- DAY.JS -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>

    <div id="root">

        <section class="container">

            <!-- LOGO -->
            <div class="logo">
                <img src="https://www.boolean.careers/images/misc/logo.png" alt="Boolean">
            </div>
            <!-- END LOGO -->

            <!-- INPUT-USER -->
            <div class="input-user">

                <!-- - predisporre un input per aggiungere un nuovo item alla lista -->
                <input
                    v-model="inputTextUser"
                    @keyup.enter="addTodo"
                    type="text" placeholder="New Todo">

                    <!-- digitando il tasto invio oppure ciccando su un pulsante, il testo digitato viene aggiunto alla lista -->
                <button class="btn" @click="addTodo" >Aggiungi</button>

            </div>
            <!-- ENDINPUT-USER -->

            <!-- TODO-LIST -->
            <div class="todo-list">

                <ul
                    v-if="todolist.length > 0" 
                    class="menu-list">
                    
                    <!-- TODO -->
                    <li 
                        v-for="(todo, index) in todolist"
                        :class="{ 'check': todo.checked }"
                    >
                        {{ todo.text }}

                        <div class="option">

                            <!-- bonus -->
                            <span class="timeStartTodo">
                                {{ todo.time }}
                            </span>

                            <span class="checkTodo" @click="checkTodoList(index)">
                                <i class="fas fa-check"></i>
                            </span>
                            <!-- end bonus -->
                        
                            <span class="delete" @click="deleteTodoList(index)">
                                <i class="fas fa-times"></i>
                            </span>

                        </div>
                         
                    </li>
                    <!-- END TODO -->

                </ul>

                <div class="empty" v-else>empty</div>
            </div>
            <!-- END TODO-LIST -->

            <div class="reset">
                <button @click="deleteAllTodoList"><i class="fas fa-trash-alt"></i>Delete</button>
            </div>

        </section>

    </div>
    


    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>